.job-info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 20px;
}
.job-info img{
    width: 100px;
    height: 100px;
}
.job-info h3{
    margin: 10px 0 -12px 0;
}
.remote-fulltime-btns button{
    border: 2px solid #7E90FE;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
    background-color: transparent;
    color: #9873FF;
}
.location{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.location p{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.icon{
    width: 20px;
    margin-right: 8px;
}

.view-btn button{
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
    background-color: #7E90FE;
    color: white;
}