.featured{
    text-align: center;
    margin-top: 20px;
}
.jobs-card{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.featured button{
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 600;
    padding: 15px 20px;
    background-color: #7E90FE;
    color: white;
}
@media (max-width: 576px) {
    .featured h1{
        font-size: 30px;
    }
    .featured p{
        font-size: 15px;
    }
    .jobs-card{
        margin-left: -8%;
        width: 100%;
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
    .featured button{
        font-size: 13px;
    }

}