.applied-jobs-card{
    width: 70%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    border-radius: 10px;
}
.applied-jobs-card img{
    background-color: rgb(230, 230, 230);
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
}
.applied-jobs-card-info{
    margin-left: 40px;
    width: 75%;
    line-height: 10px;
}
.text-icon{
    margin-right: 30px;
    display: flex;
    align-content: center;
}