
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header img{
    width: 600px;
    height: 500px;
}
.header-text{
    width: 30%;
    margin-left: 5%;
}
.header-text h1 {
    font-weight: 800;
    font-size: 50px;
}

.header-text span {
    color: #7E90FE;
}

.header-text button {
    border: none;
    font-size: 22px;
    width: 172px;
    height: 65px;
    left: 300px;
    top: 698px;
    background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
    border-radius: 8px;
}

@media (max-width: 576px) {
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .header img{
        width: 350px;
        height: 300px;
    }
    .header-text{
        width: 90%;
        margin: 0 5%;
    }
    .header-text h1 {
        font-weight: 800;
        font-size: 30px;
    }
    
    .header-text button {
        border: none;
        font-size: 18px;
        width: 150px;
        height: 50px;
        background: linear-gradient(90deg, #7E90FE 0%, #9873FF 100%);
        border-radius: 8px;
    }
}